*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);  
}

:root{
    --bg-color: #242424;
    --accent-color: #c13d3d;
    --base-color:#dfdfdf;
    --sec-accent-color: #2d2b3c;
    --third-color: #000000;
    --mark: #aa9922;
    --spacing: 20px;
    --border-radius: 12px;
}
html {
  scroll-behavior: smooth;
}

/* incio de header*/

header {
  display: flex;                  
  justify-content: space-between;  
  align-items: center;             
  padding: 10px 20px;              
}

a{
    text-decoration: none;
    color: inherit;
    transition: 0,4s;
    margin-left: 16px;
}

a:hover{
    color: var(--accent-color);
    transition: 0,4s;
}

/* fin de header*/ 
/* incio de body*/
body{
    color: var(--base-color);
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 1em;
    text-align: justify;
}

body {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 16px;
  text-align: justify;
  background: var(--bg-color);
  color:var(--base-color);
  padding: 30px;
}

h1{
  font-size: 60px;
  color: var(--accent-color);
  font-family: "Special Gothic Condensed One", sans-serif;
}

h1::first-letter {
  font-size: 3em;
  font-weight: bold;
}

h2{
  font-size: 44px;
  color: var(--accent-color);
  font-family: "Special Gothic Condensed One", sans-serif;
  text-align: center;
}

h3{
  font-size: 32px;
  color: var(--accent-color);
  font-family: "Special Gothic Condensed One", sans-serif;
}

h4{
  font-size: 24px;
  color: var(--mark);
  font-family: "Special Gothic Condensed One", sans-serif;
}

p{
  color: var(--base-color);
  font-family: "Special Gothic Expanded One", sans-serif;
}

.article{
  display: grid;
  margin-left: auto;
  margin-right: auto;
  align-items:first baseline;
  justify-content:baseline;
}

ul{
    list-style-type: none;
}

.fotoperfil{
  float: right;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  shape-outside: circle();
  margin: 20px 20px 20px 20px;
}

#trayectoria > ul{
  list-style-type: upper-roman;
  list-style-position: inside
}

#habilidades > ul{
  list-style-type: square;
  list-style-position: inside;
}

#reflexiones > p {
  font-style: italic;
  font-size: 14px;
  text-align: justify;
  font-weight: normal;
}

#foto1{
  background-image: url(./img/estrella-de-la-muerte.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50vh;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 20px;
  border: 2px solid #640808;
  padding: 8px;
}

th, td {
  padding: 12px 15px;
  word-wrap: break-word;
  text-align: left;
  border-bottom: 2px solid #333;
}

thead {
  background-color: #222222;
  border-bottom: 2px solid #333;
}

th {
  color: var(--mark);
  font-size: 18px;
}

tbody tr {
  background-color: #1a1a1a;
  border-bottom: 2px solid #333;
}

tbody tr:nth-child(even) {
  background-color: #222;
}

.barra {
    background: #ddd;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.nivel {
    background: var(--accent-color);
    height: 100%;
}

.w75 { width: 75%; }
.w85 { width: 85%; }
.w90 { width: 90%; }
.w80 { width: 80%; }
.w95 { width: 95%; }
.w100 { width: 100%; }

#final{
    background-image: url(./img/dhf2f78-96319ee5-bd3a-47a8-baa3-989dfeca998e.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
    padding: 0%;
}

.footer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  top: 20px;
  width: 100%;
}

.citacion{
  position: relative;
  color: var(--mark);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-size: 2em;
  background: linear-gradient(135deg, #5c5153, #191515, black);
  padding: 30px 40px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 0 30px #0000000d,0 0 60px #ffffff0d;
  line-height: 2;
  overflow: hidden;
}
